@import "compass/css3"
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700)

$green: #006931
// $green: #2b813e
$gray-dark: #858585
$gray-light: #e5e5e5

// @import "compass/utilities/sprites"
// @import "../img/icon/*.png"
// @include all-icon-sprites

*
    border: 0
    +box-sizing(border-box)
    list-style: none
    margin: 0
    outline: none
    position: relative
    padding: 0
    text-decoration: none
    z-index: 1


html, body
    height: 100%
    width: 100%
    background: #efefef
    font: 14px 'Open Sans'


body
    &:after,
    &:before
        display: block
        position: fixed
        opacity: 0
        z-index: 0
        +transition(1s)

    &:before
        background: #e5e5e5

        content: ''
        height: 100%
        left: 0
        top: 0
        width: 100%

    &:after
        content: 'Estamos enviando sua mensagem'
        background: #fff url(../img/loading.gif) center 10px no-repeat
        font-size: 28px
        border-radius: 5px
        padding: 50px
        left: 50%
        top: 50%
        max-width: 640px
        +transform(translateX(-50%) translateY(-100%))

    &.loading
        overflow: hidden
        text-align: center

        &:before
            z-index: 9
            opacity: 0.8
        &:after
            z-index: 99
            opacity: 1


body > *
    float: left
    width: 100%

img,
span.container
    display: block

.bold
    font-weight: bold

.title
    font-family: 'arnold'
    text-align: center
    color: $green

    &.arrow
        padding-bottom: 48px

        &:after
            background: url(../img/arrow.png) no-repeat
            background-size: 100% auto
            content: ''
            display: block
            height: 39px
            position: absolute
            bottom: 0
            width: 341px
            max-width: 100%

header
    background: #efefef url(../img/bg_01.png) bottom center no-repeat
    background-size: 101% auto
    height: 670px

    > .container
        position: absolute
        height: 100%
        bottom: 0
        left: 50%
        +transform(translateX(-50%))

        span,
        &:after,
        &:before
            display: block

    .languages
        position: absolute
        right: -20px
        top: 62px

        a
            margin-bottom: 5px
            display: block
            height: 12px
            width: 20px

            &:first-child
                background: url(../img/pt.png) center no-repeat
                background-size: 20px 12px

            &:last-child
                background: url(../img/en.png) center no-repeat
                background-size: 20px 12px

    nav
        background: #fff
        height: 149px
        margin-top: 34px
        text-align: center

        .container
            padding-top: 70px

            &:after,
            &:before
                display: block
                position: absolute
                background-size: 100% auto
                z-index: 0

            &:before
                background: url(../img/logo-1.jpg) center no-repeat
                background-size: 100% auto
                height: 77.5px
                left: 0
                top: 33px
                width: 200px
            
            &:after
                background: url(../img/logo-2.jpg) center no-repeat
                background-size: auto 100%
                height: 86.25px
                right: 0
                top: 38px
                width: 160px

            > a
                padding: 0 20px
                cursor: pointer
                font-size: 20px
                display: inline-block
                color: $green
                
                // &:hover
                //     text-decoration: none
                //     font-weight: 700
                //     margin: -1px -2px

.about
    .call
        font-size: 0
        height: 0
        margin-top: 70px
        text-align: center

        & + .title
            font-size: 41px
            margin-bottom: 50px

    
    .how-to
        .title
            display: block
            font-size: 32px
            margin: 0 auto 35px
            max-width: 341px

        .description
            max-width: 403px
            margin: 0 auto 40px
            text-align: center

    img
        margin: auto

.banner
    background: url(../img/bg_02.jpg) center
    background-size: 100% 100%
    color: #fff
    margin-top: 58px
    padding: 70px 0 50px

    .title
        color: inherit
        font-size: 41px
        // margin: 25px auto
        +transform(rotate(-5.8deg))

    .text
        padding: 20px
        text-align: center
        
        p
            margin-bottom: 5px


.videos
    background: #ccc
    padding: 134px 0

    .thumb
        cursor: pointer
        margin-top: 50px
        text-align: center
        font-weight: bold

        span
            display: block
            font-size: 28px

            &.glyphicon
                font-size: 48px
                margin: 25px 0 5px


    iframe
        display: block
        margin: 70px auto 0
        // max-width: 560px
        width: 100%

    .main.title
        display: block
        max-width:  365px
        position: relative
        font-size: 41px
        margin: 0 auto 50px

        .call
            position: absolute
            bottom: -38px
            font: 14px 'open sans'
            left: 0
            width: 150%
            text-align: left

        &:after,
        &:before
            content: ''
            display: block
            position: absolute
            
        &:after
            width: 270px
            height: 148px
            background: url(../img/morcego.png)
            right: -200px
            bottom: 0px

        &:before
            width: 118px
            height: 133px
            background: url(../img/video-icon.png)
            left: -162px
            bottom: -40px


#section1 a.button
    text-align: center
    margin-top: 50px
    display: block
    font-size: 22px
    width: 100%
    color: $green
    cursor: pointer

.supporter
    background: #e5e5e5
    padding-top: 100px
    position: relative

    a.button
        width: 208px
        background: linear-gradient(#369110, #4b9929)
        border-radius: 16px
        color: #fff
        display: block
        font-weight: 700
        padding: 30px 36px
        text-align: center

    span.title
        position: absolute
        left: 15px
        top: 20px
        font-size: 24px
        z-index: 9

    .logo-catarse
        margin: 0 0 32px

    .box-sapo
        float: left
        display: block
        margin-top: 25px
        // +transform(translateX(-30%))

    .text
        margin-top: 25px
    
        ul
            .header
                margin-top: 25px
                font-weight: 700

            li
                color: $gray-dark

        &.header
            font-weight: bold
            font-size: 16px
            margin: 0 0 20px 0

.form
    background: #e5e5e5
    padding: 0 0 50px

    .title
        margin-top: 42px
        font-size: 28px
        text-align: left

        &.arrow:after
            background-position: left center

    label, input, textarea
        display: block
        background: transparent
        width: 100%

    label
        margin: 5px 0 2px

    input, textarea
        border: solid 1px $gray-dark
        padding: 5px 15px

    input
        height: 34px

    input[type='submit']
        background: $green
        border: none
        font-size: 14px
        margin: 20px 0 0
        padding: 0 15px
        color: #fff
        width: 120px

footer
    background: #fff
    height: 168px
    
    .row > div
        position: relative
        height: 95px

    img
        margin:  20px auto

@media screen and (max-width: 840px)
    header
        background-size: 145% auto
        background-position: center 124%
        height: 45vw

    .videos .main.title
        &:after,
        &:before
            display: none

@media screen and (min-width: 768px)
    .banner img
        max-width: 130%
        margin-left: -15%
