<h1 id="changelog">ChangeLog</h1>
<h2 id="version-5-2-14-nov-1st-2015-">Version 5.2.14 (Nov 1st 2015)</h2>
<ul>
<li>Allow addresses with IDN (Internationalized Domain Name) in PHP 5.3+, thanks to @fbonzon</li>
<li>Allow access to POP3 errors</li>
<li>Make all POP3 private properties and methods protected</li>
<li><strong>SECURITY</strong> Fix vulnerability that allowed email addresses with line breaks (valid in RFC5322) to pass to SMTP, permitting message injection at the SMTP level. Mitigated in both the address validator and in the lower-level SMTP class. Thanks to Takeshi Terada.</li>
<li>Updated Brazilian Portuguese translations (Thanks to @phelipealves)</li>
</ul>
<h2 id="version-5-2-13-sep-14th-2015-">Version 5.2.13 (Sep 14th 2015)</h2>
<ul>
<li>Rename internal oauth class to avoid name clashes</li>
<li>Improve Estonian translations</li>
</ul>
<h2 id="version-5-2-12-sep-1st-2015-">Version 5.2.12 (Sep 1st 2015)</h2>
<ul>
<li>Fix incorrect composer package dependencies</li>
<li>Skip existing embedded image <code>cid</code>s in <code>msgHTML</code></li>
</ul>
<h2 id="version-5-2-11-aug-31st-2015-">Version 5.2.11 (Aug 31st 2015)</h2>
<ul>
<li>Don&#39;t switch to quoted-printable for long lines if already using base64</li>
<li>Fixed Travis-CI config when run on PHP 7</li>
<li>Added Google XOAUTH2 authentication mechanism, thanks to @sherryl4george</li>
<li>Add address parser for RFC822-format addresses</li>
<li>Update MS Office MIME types</li>
<li>Don&#39;t convert line breaks when using quoted-printable encoding</li>
<li>Handle MS Exchange returning an invalid empty AUTH-type list in EHLO</li>
<li>Don&#39;t set name or filename properties on MIME parts that don&#39;t have one</li>
</ul>
<h2 id="version-5-2-10-may-4th-2015-">Version 5.2.10 (May 4th 2015)</h2>
<ul>
<li>Add custom header getter</li>
<li>Use <code>application/javascript</code> for .js attachments</li>
<li>Improve RFC2821 compliance for timelimits, especially for end-of-data</li>
<li>Add Azerbaijani translations (Thanks to @mirjalal)</li>
<li>Minor code cleanup for robustness</li>
<li>Add Indonesian translations (Thanks to @ceceprawiro)</li>
<li>Avoid <code>error_log</code> Debugoutput naming clash</li>
<li>Add ability to parse server capabilities in response to EHLO (useful for SendGrid etc)</li>
<li>Amended default values for WordWrap to match RFC</li>
<li>Remove html2text converter class (has incompatible license)</li>
<li>Provide new mechanism for injecting html to text converters</li>
<li>Improve pointers to docs and support in README</li>
<li>Add example file upload script</li>
<li>Refactor and major cleanup of EasyPeasyICS, now a lot more usable</li>
<li>Make set() method simpler and more reliable</li>
<li>Add Malay translation (Thanks to @nawawi)</li>
<li>Add Bulgarian translation (Thanks to @mialy)</li>
<li>Add Armenian translation (Thanks to Hrayr Grigoryan)</li>
<li>Add Slovenian translation (Thanks to Klemen Tušar)</li>
<li>More efficient word wrapping</li>
<li>Add support for S/MIME signing with additional CA certificate (thanks to @IgitBuh)</li>
<li>Fix incorrect MIME structure when using S/MIME signing and isMail() (#372)</li>
<li>Improved checks and error messages for missing extensions</li>
<li>Store and report SMTP errors more consistently</li>
<li>Add MIME multipart preamble for better Outlook compatibility</li>
<li>Enable TLS encryption automatically if the server offers it</li>
<li>Provide detailed errors when individual recipients fail</li>
<li>Report more errors when connecting</li>
<li>Add extras classes to composer classmap</li>
<li>Expose stream_context_create options via new SMTPOptions property</li>
<li>Automatic encoding switch to quoted-printable if message lines are too long</li>
<li>Add Korean translation (Thanks to @ChalkPE)</li>
<li>Provide a pointer to troubleshooting docs on SMTP connection failure</li>
</ul>
<h2 id="version-5-2-9-sept-25th-2014-">Version 5.2.9 (Sept 25th 2014)</h2>
<ul>
<li><strong>Important: The autoloader is no longer autoloaded by the PHPMailer class</strong></li>
<li>Update html2text from <a href="https://github.com/mtibben/html2text">https://github.com/mtibben/html2text</a></li>
<li>Improve Arabic translations (Thanks to @tarekdj)</li>
<li>Consistent handling of connection variables in SMTP and POP3</li>
<li>PHPDoc cleanup</li>
<li>Update composer to use PHPUnit 4.1</li>
<li>Pass consistent params to callbacks</li>
<li>More consistent handling of error states and debug output</li>
<li>Use property defaults, remove constructors</li>
<li>Remove unreachable code</li>
<li>Use older regex validation pattern for troublesome PCRE library versions</li>
<li>Improve PCRE detection in older PHP versions</li>
<li>Handle debug output consistently, and always in UTF-8</li>
<li>Allow user-defined debug output method via a callable</li>
<li>msgHTML now converts data URIs to embedded images</li>
<li>SMTP::getLastReply() will now always be populated</li>
<li>Improved example code in README</li>
<li>Ensure long filenames in Content-Disposition are encoded correctly</li>
<li>Simplify SMTP debug output mechanism, clarify levels with constants</li>
<li>Add SMTP connection check example</li>
<li>Simplify examples, don&#39;t use mysql* functions</li>
</ul>
<h2 id="version-5-2-8-may-14th-2014-">Version 5.2.8 (May 14th 2014)</h2>
<ul>
<li>Increase timeout to match RFC2821 section 4.5.3.2 and thus not fail greetdelays, fixes #104</li>
<li>Add timestamps to default debug output</li>
<li>Add connection events and new level 3 to debug output options</li>
<li>Chinese language update (Thanks to @binaryoung)</li>
<li>Allow custom Mailer types (Thanks to @michield)</li>
<li>Cope with spaces around SMTP host specs</li>
<li>Fix processing of multiple hosts in connect string</li>
<li>Added Galician translation (Thanks to @donatorouco)</li>
<li>Autoloader now prepends</li>
<li>Docs updates</li>
<li>Add Latvian translation (Thanks to @eddsstudio)</li>
<li>Add Belarusian translation (Thanks to @amaksymiuk)</li>
<li>Make autoloader work better on older PHP versions</li>
<li>Avoid double-encoding if mbstring is overloading mail()</li>
<li>Add Portuguese translation (Thanks to @Jonadabe)</li>
<li>Make quoted-printable encoder respect line ending setting</li>
<li>Improve Chinese translation (Thanks to @PeterDaveHello)</li>
<li>Add Georgian translation (Thanks to @akalongman)</li>
<li>Add Greek translation (Thanks to @lenasterg)</li>
<li>Fix serverHostname on PHP &lt; 5.3</li>
<li>Improve performance of SMTP class</li>
<li>Implement automatic 7bit downgrade</li>
<li>Add Vietnamese translation (Thanks to @vinades)</li>
<li>Improve example images, switch to PNG</li>
<li>Add Croatian translation (Thanks to @hrvoj3e)</li>
<li>Remove setting the Return-Path and deprecate the Return-path property - it&#39;s just wrong!</li>
<li>Fix language file loading if CWD has changed (@stephandesouza)</li>
<li>Add HTML5 email validation pattern</li>
<li>Improve Turkish translations (Thanks to @yasinaydin)</li>
<li>Improve Romanian translations (Thanks to @aflorea)</li>
<li>Check php.ini for path to sendmail/qmail before using default</li>
<li>Improve Farsi translation (Thanks to @MHM5000)</li>
<li>Don&#39;t use quoted-printable encoding for multipart types</li>
<li>Add Serbian translation (Thanks to ajevremovic at gmail.com)</li>
<li>Remove useless PHP5 check</li>
<li>Use SVG for build status badges</li>
<li>Store MessageDate on creation</li>
<li>Better default behaviour for validateAddress</li>
</ul>
<h2 id="version-5-2-7-september-12th-2013-">Version 5.2.7 (September 12th 2013)</h2>
<ul>
<li>Add Ukrainian translation from @Krezalis</li>
<li>Support for do_verp</li>
<li>Fix bug in CRAM-MD5 AUTH</li>
<li>Propagate Debugoutput option to SMTP class (@Reblutus)</li>
<li>Determine MIME type of attachments automatically</li>
<li>Add cross-platform, multibyte-safe pathinfo replacement (with tests) and use it</li>
<li>Add a new &#39;html&#39; Debugoutput type</li>
<li>Clean up SMTP debug output, remove embedded HTML</li>
<li>Some small changes in header formatting to improve IETF msglint test results</li>
<li>Update test_script to use some recently changed features, rename to code_generator</li>
<li>Generated code actually works!</li>
<li>Update SyntaxHighlighter</li>
<li>Major overhaul and cleanup of example code</li>
<li>New PHPMailer graphic</li>
<li>msgHTML now uses RFC2392-compliant content ids</li>
<li>Add line break normalization function and use it in msgHTML</li>
<li>Don&#39;t set unnecessary reply-to addresses</li>
<li>Make fakesendmail.sh a bit cleaner and safer</li>
<li>Set a content-transfer-encoding on multiparts (fixes msglint error)</li>
<li>Fix cid generation in msgHTML (Thanks to @digitalthought)</li>
<li>Fix handling of multiple SMTP servers (Thanks to @NanoCaiordo)</li>
<li>SMTP-&gt;connect() now supports stream context options (Thanks to @stanislavdavid)</li>
<li>Add support for iCal event alternatives (Thanks to @reblutus)</li>
<li>Update to Polish language file (Thanks to Krzysztof Kowalewski)</li>
<li>Update to Norwegian language file (Thanks to @datagutten)</li>
<li>Update to Hungarian language file (Thanks to @dominicus-75)</li>
<li>Add Persian/Farsi translation from @jaii</li>
<li>Make SMTPDebug property type match type in SMTP class</li>
<li>Add unit tests for DKIM</li>
<li>Major refactor of SMTP class</li>
<li>Reformat to PSR-2 coding standard</li>
<li>Introduce autoloader</li>
<li>Allow overriding of SMTP class</li>
<li>Overhaul of PHPDocs</li>
<li>Fix broken Q-encoding</li>
<li>Czech language update (Thanks to @nemelu)</li>
<li>Removal of excess blank lines in messages</li>
<li>Added fake POP server and unit tests for POP-before-SMTP</li>
</ul>
<h2 id="version-5-2-6-april-11th-2013-">Version 5.2.6 (April 11th 2013)</h2>
<ul>
<li>Reflect move to PHPMailer GitHub organisation at <a href="https://github.com/PHPMailer/PHPMailer">https://github.com/PHPMailer/PHPMailer</a></li>
<li>Fix unbumped version numbers</li>
<li>Update packagist.org with new location</li>
<li>Clean up Changelog</li>
</ul>
<h2 id="version-5-2-5-april-6th-2013-">Version 5.2.5 (April 6th 2013)</h2>
<ul>
<li>First official release after move from Google Code</li>
<li>Fixes for qmail when sending via mail()</li>
<li>Merge in changes from Google code 5.2.4 release</li>
<li>Minor coding standards cleanup in SMTP class</li>
<li>Improved unit tests, now tests S/MIME signing</li>
<li>Travis-CI support on GitHub, runs tests with fake SMTP server</li>
</ul>
<h2 id="version-5-2-4-february-19-2013-">Version 5.2.4 (February 19, 2013)</h2>
<ul>
<li>Fix tag and version bug.</li>
<li>un-deprecate isSMTP(), isMail(), IsSendmail() and isQmail().</li>
<li>Numerous translation updates</li>
</ul>
<h2 id="version-5-2-3-february-8-2013-">Version 5.2.3 (February 8, 2013)</h2>
<ul>
<li>Fix issue with older PCREs and ValidateAddress() (Bugz: 124)</li>
<li>Add CRAM-MD5 authentication, thanks to Elijah madden, <a href="https://github.com/okonomiyaki3000">https://github.com/okonomiyaki3000</a></li>
<li>Replacement of obsolete Quoted-Printable encoder with a much better implementation</li>
<li>Composer package definition</li>
<li>New language added: Hebrew</li>
</ul>
<h2 id="version-5-2-2-december-3-2012-">Version 5.2.2 (December 3, 2012)</h2>
<ul>
<li>Some fixes and syncs from <a href="https://github.com/Synchro/PHPMailer">https://github.com/Synchro/PHPMailer</a></li>
<li>Add Slovak translation, thanks to Michal Tinka</li>
</ul>
<h2 id="version-5-2-2-rc2-november-6-2012-">Version 5.2.2-rc2 (November 6, 2012)</h2>
<ul>
<li>Fix SMTP server rotation (Bugz: 118)</li>
<li>Allow override of autogen&#39;ed &#39;Date&#39; header (for Drupal&#39;s
og_mailinglist module)</li>
<li>No whitespace after &#39;-f&#39; option (Bugz: 116)</li>
<li>Work around potential warning (Bugz: 114)</li>
</ul>
<h2 id="version-5-2-2-rc1-september-28-2012-">Version 5.2.2-rc1 (September 28, 2012)</h2>
<ul>
<li>Header encoding works with long lines (Bugz: 93)</li>
<li>Turkish language update (Bugz: 94)</li>
<li>undefined $pattern in EncodeQ bug squashed (Bugz: 98)</li>
<li>use of mail() in safe_mode now works (Bugz: 96)</li>
<li>ValidateAddress() now &#39;public static&#39; so people can override the
default and use their own validation scheme.</li>
<li>ValidateAddress() no longer uses broken FILTER_VALIDATE_EMAIL</li>
<li>Added in AUTH PLAIN SMTP authentication</li>
</ul>
<h2 id="version-5-2-2-beta2-august-17-2012-">Version 5.2.2-beta2 (August 17, 2012)</h2>
<ul>
<li>Fixed Postfix VERP support (Bugz: 92)</li>
<li>Allow action_function callbacks to pass/use
the From address (passed as final param)</li>
<li>Prevent inf look for get_lines() (Bugz: 77)</li>
<li>New public var ($UseSendmailOptions). Only pass sendmail()
options iff we really are using sendmail or something sendmail
compatible. (Bugz: 75)</li>
<li>default setting for LE returned to &quot;\n&quot; due to popular demand.</li>
</ul>
<h2 id="version-5-2-2-beta1-july-13-2012-">Version 5.2.2-beta1 (July 13, 2012)</h2>
<ul>
<li>Expose PreSend() and PostSend() as public methods to allow
for more control if serializing message sending.</li>
<li>GetSentMIMEMessage() only constructs the message copy when
needed. Save memory.</li>
<li>Only pass params to mail() if the underlying MTA is
&quot;sendmail&quot; (as defined as &quot;having the string sendmail
in its pathname&quot;) [#69]</li>
<li>Attachments now work with Amazon SES and others [Bugz#70]</li>
<li>Debug output now sent to stdout (via echo) or error_log [Bugz#5]</li>
<li>New var: Debugoutput (for above) [Bugz#5]</li>
<li>SMTP reads now Timeout aware (new var: Timeout=15) [Bugz#71]</li>
<li>SMTP reads now can have a Timelimit associated with them
(new var: Timelimit=30)[Bugz#71]</li>
<li>Fix quoting issue associated with charsets</li>
<li>default setting for LE is now RFC compliant: &quot;\r\n&quot;</li>
<li>Return-Path can now be user defined (new var: ReturnPath)
(the default is &quot;&quot; which implies no change from previous
behavior, which was to use either From or Sender) [Bugz#46]</li>
<li>X-Mailer header can now be disabled (by setting to a
whitespace string, eg &quot;  &quot;) [Bugz#66]</li>
<li>Bugz closed: #68, #60, #42, #43, #59, #55, #66, #48, #49,<pre><code>         #52, #31, #41, #5. #70, #69
</code></pre></li>
</ul>
<h2 id="version-5-2-1-january-16-2012-">Version 5.2.1 (January 16, 2012)</h2>
<ul>
<li>Closed several bugs #5</li>
<li>Performance improvements</li>
<li>MsgHTML() now returns the message as required.</li>
<li>New method: GetSentMIMEMessage() (returns full copy of sent message)</li>
</ul>
<h2 id="version-5-2-july-19-2011-">Version 5.2 (July 19, 2011)</h2>
<ul>
<li>protected MIME body and header</li>
<li>better DKIM DNS Resource Record support</li>
<li>better aly handling</li>
<li>htmlfilter class added to extras</li>
<li>moved to Apache Extras</li>
</ul>
<h2 id="version-5-1-october-20-2009-">Version 5.1 (October 20, 2009)</h2>
<ul>
<li>fixed filename issue with AddStringAttachment (thanks to Tony)</li>
<li>fixed &quot;SingleTo&quot; property, now works with Senmail, Qmail, and SMTP in
addition to PHP mail()</li>
<li>added DKIM digital signing functionality, new properties:<ul>
<li>DKIM_domain (sets the domain name)</li>
<li>DKIM_private (holds DKIM private key)</li>
<li>DKIM_passphrase (holds your DKIM passphrase)</li>
<li>DKIM_selector (holds the DKIM &quot;selector&quot;)</li>
<li>DKIM_identity (holds the identifying email address)</li>
</ul>
</li>
<li>added callback function support<ul>
<li>callback function parameters include:
result, to, cc, bcc, subject and body</li>
<li>see the test/test_callback.php file for usage.</li>
</ul>
</li>
<li>added &quot;auto&quot; identity functionality<ul>
<li>can automatically add:<ul>
<li>Return-path (if Sender not set)</li>
<li>Reply-To (if ReplyTo not set)</li>
</ul>
</li>
<li>can be disabled:<ul>
<li>$mail-&gt;SetFrom(&#39;yourname@yourdomain.com&#39;,&#39;First Last&#39;,false);</li>
<li>or by adding the $mail-&gt;Sender and/or $mail-&gt;ReplyTo properties</li>
</ul>
</li>
</ul>
</li>
</ul>
<p>Note: &quot;auto&quot; identity added to help with emails ending up in spam or junk boxes because of missing headers</p>
<h2 id="version-5-0-2-may-24-2009-">Version 5.0.2 (May 24, 2009)</h2>
<ul>
<li>Fix for missing attachments when inline graphics are present</li>
<li>Fix for missing Cc in header when using SMTP (mail was sent,
but not displayed in header -- Cc receiver only saw email To:
line and no Cc line, but did get the email (To receiver
saw same)</li>
</ul>
<h2 id="version-5-0-1-april-05-2009-">Version 5.0.1 (April 05, 2009)</h2>
<ul>
<li>Temporary fix for missing attachments</li>
</ul>
<h2 id="version-5-0-0-april-02-2009-">Version 5.0.0 (April 02, 2009)</h2>
<p>With the release of this version, we are initiating a new version numbering
system to differentiate from the PHP4 version of PHPMailer.
Most notable in this release is fully object oriented code.</p>
<h3 id="class-smtp-php-">class.smtp.php:</h3>
<ul>
<li>Refactored class.smtp.php to support new exception handling</li>
<li>code size reduced from 29.2 Kb to 25.6 Kb</li>
<li>Removed unnecessary functions from class.smtp.php:<ul>
<li>public function Expand($name) {</li>
<li>public function Help($keyword=&quot;&quot;) {</li>
<li>public function Noop() {</li>
<li>public function Send($from) {</li>
<li>public function SendOrMail($from) {</li>
<li>public function Verify($name) {</li>
</ul>
</li>
</ul>
<h3 id="class-phpmailer-php-">class.phpmailer.php:</h3>
<ul>
<li>Refactored class.phpmailer.php with new exception handling</li>
<li>Changed processing functionality of Sendmail and Qmail so they cannot be
inadvertently used</li>
<li>removed getFile() function, just became a simple wrapper for
file_get_contents()</li>
<li>added check for PHP version (will gracefully exit if not at least PHP 5.0)</li>
<li>enhanced code to check if an attachment source is the same as an embedded or
inline graphic source to eliminate duplicate attachments</li>
</ul>
<h3 id="new-test_script">New /test_script</h3>
<p>We have written a test script you can use to test the script as part of your
installation. Once you press submit, the test script will send a multi-mime
email with either the message you type in or an HTML email with an inline
graphic. Two attachments are included in the email (one of the attachments
is also the inline graphic so you can see that only one copy of the graphic
is sent in the email). The test script will also display the functional
script that you can copy/paste to your editor to duplicate the functionality.</p>
<h3 id="new-examples">New examples</h3>
<p>All new examples in both basic and advanced modes. Advanced examples show
   Exception handling.</p>
<h3 id="phpdocumentator-phpdocs-documentation-for-phpmailer-version-5-0-0">PHPDocumentator (phpdocs) documentation for PHPMailer version 5.0.0</h3>
<p>All new documentation</p>
<h2 id="version-2-3-november-06-2008-">Version 2.3 (November 06, 2008)</h2>
<ul>
<li>added Arabic language (many thanks to Bahjat Al Mostafa)</li>
<li>removed English language from language files and made it a default within
class.phpmailer.php - if no language is found, it will default to use
the english language translation</li>
<li>fixed public/private declarations</li>
<li>corrected line 1728, $basedir to $directory</li>
<li>added $sign_cert_file to avoid improper duplicate use of $sign_key_file</li>
<li>corrected $this-&gt;Hello on line 612 to $this-&gt;Helo</li>
<li>changed default of $LE to &quot;\r\n&quot; to comply with RFC 2822. Can be set by the user
if default is not acceptable</li>
<li>removed trim() from return results in EncodeQP</li>
<li>/test and three files it contained are removed from version 2.3</li>
<li>fixed phpunit.php for compliance with PHP5</li>
<li>changed $this-&gt;AltBody = $textMsg; to $this-&gt;AltBody = html_entity_decode($textMsg);</li>
<li>We have removed the /phpdoc from the downloads. All documentation is now on
the <a href="http://phpmailer.codeworxtech.com">http://phpmailer.codeworxtech.com</a> website.</li>
</ul>
<h2 id="version-2-2-1-july-19-2008">Version 2.2.1 () July 19 2008</h2>
<ul>
<li>fixed line 1092 in class.smtp.php (my apologies, error on my part)</li>
</ul>
<h2 id="version-2-2-july-15-2008">Version 2.2 () July 15 2008</h2>
<ul>
<li>Fixed redirect issue (display of UTF-8 in thank you redirect)</li>
<li>fixed error in getResponse function declaration (class.pop3.php)</li>
<li>PHPMailer now PHP6 compliant</li>
<li>fixed line 1092 in class.smtp.php (endless loop from missing = sign)</li>
</ul>
<h2 id="version-2-1-wed-june-04-2008-">Version 2.1 (Wed, June 04 2008)</h2>
<p>NOTE: WE HAVE A NEW LANGUAGE VARIABLE FOR DIGITALLY SIGNED S/MIME EMAILS. IF YOU CAN HELP WITH LANGUAGES OTHER THAN ENGLISH AND SPANISH, IT WOULD BE APPRECIATED.</p>
<ul>
<li>added S/MIME functionality (ability to digitally sign emails)
BIG THANKS TO &quot;sergiocambra&quot; for posting this patch back in November 2007.
The &quot;Signed Emails&quot; functionality adds the Sign method to pass the private key
filename and the password to read it, and then email will be sent with
content-type multipart/signed and with the digital signature attached.</li>
<li>fully compatible with E_STRICT error level<ul>
<li>Please note:
In about half the test environments this development version was subjected
to, an error was thrown for the date() functions used (line 1565 and 1569).
This is NOT a PHPMailer error, it is the result of an incorrectly configured
PHP5 installation. The fix is to modify your &#39;php.ini&#39; file and include the
date.timezone = Etc/UTC (or your own zone)
directive, to your own server timezone</li>
<li>If you do get this error, and are unable to access your php.ini file:
In your PHP script, add
<code>date_default_timezone_set(&#39;Etc/UTC&#39;);</code></li>
<li>do not try to use
<code>$myVar = date_default_timezone_get();</code>
as a test, it will throw an error.</li>
</ul>
</li>
<li>added ability to define path (mainly for embedded images)
function <code>MsgHTML($message,$basedir=&#39;&#39;)</code> ... where:
<code>$basedir</code> is the fully qualified path</li>
<li>fixed <code>MsgHTML()</code> function:<ul>
<li>Embedded Images where images are specified by <code>&lt;protocol&gt;://</code> will not be altered or embedded</li>
</ul>
</li>
<li>fixed the return value of SMTP exit code ( pclose )</li>
<li>addressed issue of multibyte characters in subject line and truncating</li>
<li>added ability to have user specified Message ID
(default is still that PHPMailer create a unique Message ID)</li>
<li>corrected unidentified message type to &#39;application/octet-stream&#39;</li>
<li>fixed chunk_split() multibyte issue (thanks to Colin Brown, et al).</li>
<li>added check for added attachments</li>
<li>enhanced conversion of HTML to text in MsgHTML (thanks to &quot;brunny&quot;)</li>
</ul>
<h2 id="version-2-1-0beta2-sun-dec-02-2007-">Version 2.1.0beta2 (Sun, Dec 02 2007)</h2>
<ul>
<li>implemented updated EncodeQP (thanks to coolbru, aka Marcus Bointon)</li>
<li>finished all testing, all known bugs corrected, enhancements tested</li>
</ul>
<p>Note: will NOT work with PHP4.</p>
<p>Please note, this is BETA software <strong>DO NOT USE THIS IN PRODUCTION OR LIVE PROJECTS; INTENDED STRICTLY FOR TESTING</strong></p>
<h2 id="version-2-1-0beta1">Version 2.1.0beta1</h2>
<p>Please note, this is BETA software
** DO NOT USE THIS IN PRODUCTION OR LIVE PROJECTS
 INTENDED STRICTLY FOR TESTING</p>
<h2 id="version-2-0-0-rc2-fri-nov-16-2007-interim-release">Version 2.0.0 rc2 (Fri, Nov 16 2007), interim release</h2>
<ul>
<li>implements new property to control VERP in class.smtp.php
example (requires instantiating class.smtp.php):
$mail-&gt;do_verp = true;</li>
<li>POP-before-SMTP functionality included, thanks to Richard Davey
(see class.pop3.php &amp; pop3_before_smtp_test.php for examples)</li>
<li>included example showing how to use PHPMailer with GMAIL</li>
<li>fixed the missing Cc in SendMail() and Mail()</li>
</ul>
<h2 id="version-2-0-0-rc1-thu-nov-08-2007-interim-release">Version 2.0.0 rc1 (Thu, Nov 08 2007), interim release</h2>
<ul>
<li>dramatically simplified using inline graphics ... it&#39;s fully automated and requires no user input</li>
<li>added automatic document type detection for attachments and pictures</li>
<li>added MsgHTML() function to replace Body tag for HTML emails</li>
<li>fixed the SendMail security issues (input validation vulnerability)</li>
<li>enhanced the AddAddresses functionality so that the &quot;Name&quot; portion is used in the email address</li>
<li>removed the need to use the AltBody method (set from the HTML, or default text used)</li>
<li>set the PHP Mail() function as the default (still support SendMail, SMTP Mail)</li>
<li>removed the need to set the IsHTML property (set automatically)</li>
<li>added Estonian language file by Indrek P&auml;ri</li>
<li>added header injection patch</li>
<li>added &quot;set&quot; method to permit users to create their own pseudo-properties like &#39;X-Headers&#39;, etc.</li>
<li>fixed warning message in SMTP get_lines method</li>
<li>added TLS/SSL SMTP support.</li>
<li>PHPMailer has been tested with PHP4 (4.4.7) and PHP5 (5.2.7)</li>
<li>Works with PHP installed as a module or as CGI-PHP
NOTE: will NOT work with PHP5 in E_STRICT error mode</li>
</ul>
<h2 id="version-1-73-sun-jun-10-2005-">Version 1.73 (Sun, Jun 10 2005)</h2>
<ul>
<li>Fixed denial of service bug: <a href="http://www.cybsec.com/vuln/PHPMailer-DOS.pdf">http://www.cybsec.com/vuln/PHPMailer-DOS.pdf</a></li>
<li>Now has a total of 20 translations</li>
<li>Fixed alt attachments bug: <a href="http://tinyurl.com/98u9k">http://tinyurl.com/98u9k</a></li>
</ul>
<h2 id="version-1-72-wed-may-25-2004-">Version 1.72 (Wed, May 25 2004)</h2>
<ul>
<li>Added Dutch, Swedish, Czech, Norwegian, and Turkish translations.</li>
<li>Received: Removed this method because spam filter programs like
SpamAssassin reject this header.</li>
<li>Fixed error count bug.</li>
<li>SetLanguage default is now &quot;language/&quot;.</li>
<li>Fixed magic_quotes_runtime bug.</li>
</ul>
<h2 id="version-1-71-tue-jul-28-2003-">Version 1.71 (Tue, Jul 28 2003)</h2>
<ul>
<li>Made several speed enhancements</li>
<li>Added German and Italian translation files</li>
<li>Fixed HELO/AUTH bugs on keep-alive connects</li>
<li>Now provides an error message if language file does not load</li>
<li>Fixed attachment EOL bug</li>
<li>Updated some unclear documentation</li>
<li>Added additional tests and improved others</li>
</ul>
<h2 id="version-1-70-mon-jun-20-2003-">Version 1.70 (Mon, Jun 20 2003)</h2>
<ul>
<li>Added SMTP keep-alive support</li>
<li>Added IsError method for error detection</li>
<li>Added error message translation support (SetLanguage)</li>
<li>Refactored many methods to increase library performance</li>
<li>Hello now sends the newer EHLO message before HELO as per RFC 2821</li>
<li>Removed the boundary class and replaced it with GetBoundary</li>
<li>Removed queue support methods</li>
<li>New $Hostname variable</li>
<li>New Message-ID header</li>
<li>Received header reformat</li>
<li>Helo variable default changed to $Hostname</li>
<li>Removed extra spaces in Content-Type definition (#667182)</li>
<li>Return-Path should be set to Sender when set</li>
<li>Adds Q or B encoding to headers when necessary</li>
<li>quoted-encoding should now encode NULs \000</li>
<li>Fixed encoding of body/AltBody (#553370)</li>
<li>Adds &quot;To: undisclosed-recipients:;&quot; when all recipients are hidden (BCC)</li>
<li>Multiple bug fixes</li>
</ul>
<h2 id="version-1-65-fri-aug-09-2002-">Version 1.65 (Fri, Aug 09 2002)</h2>
<ul>
<li>Fixed non-visible attachment bug (#585097) for Outlook</li>
<li>SMTP connections are now closed after each transaction</li>
<li>Fixed SMTP::Expand return value</li>
<li>Converted SMTP class documentation to phpDocumentor format</li>
</ul>
<h2 id="version-1-62-wed-jun-26-2002-">Version 1.62 (Wed, Jun 26 2002)</h2>
<ul>
<li>Fixed multi-attach bug</li>
<li>Set proper word wrapping</li>
<li>Reduced memory use with attachments</li>
<li>Added more debugging</li>
<li>Changed documentation to phpDocumentor format</li>
</ul>
<h2 id="version-1-60-sat-mar-30-2002-">Version 1.60 (Sat, Mar 30 2002)</h2>
<ul>
<li>Sendmail pipe and address patch (Christian Holtje)</li>
<li>Added embedded image and read confirmation support (A. Ognio)</li>
<li>Added unit tests</li>
<li>Added SMTP timeout support (*nix only)</li>
<li>Added possibly temporary PluginDir variable for SMTP class</li>
<li>Added LE message line ending variable</li>
<li>Refactored boundary and attachment code</li>
<li>Eliminated SMTP class warnings</li>
<li>Added SendToQueue method for future queuing support</li>
</ul>
<h2 id="version-1-54-wed-dec-19-2001-">Version 1.54 (Wed, Dec 19 2001)</h2>
<ul>
<li>Add some queuing support code</li>
<li>Fixed a pesky multi/alt bug</li>
<li>Messages are no longer forced to have &quot;To&quot; addresses</li>
</ul>
<h2 id="version-1-50-thu-nov-08-2001-">Version 1.50 (Thu, Nov 08 2001)</h2>
<ul>
<li>Fix extra lines when not using SMTP mailer</li>
<li>Set WordWrap variable to int with a zero default</li>
</ul>
<h2 id="version-1-47-tue-oct-16-2001-">Version 1.47 (Tue, Oct 16 2001)</h2>
<ul>
<li>Fixed Received header code format</li>
<li>Fixed AltBody order error</li>
<li>Fixed alternate port warning</li>
</ul>
<h2 id="version-1-45-tue-sep-25-2001-">Version 1.45 (Tue, Sep 25 2001)</h2>
<ul>
<li>Added enhanced SMTP debug support</li>
<li>Added support for multiple ports on SMTP</li>
<li>Added Received header for tracing</li>
<li>Fixed AddStringAttachment encoding</li>
<li>Fixed possible header name quote bug</li>
<li>Fixed wordwrap() trim bug</li>
<li>Couple other small bug fixes</li>
</ul>
<h2 id="version-1-41-wed-aug-22-2001-">Version 1.41 (Wed, Aug 22 2001)</h2>
<ul>
<li>Fixed AltBody bug w/o attachments</li>
<li>Fixed rfc_date() for certain mail servers</li>
</ul>
<h2 id="version-1-40-sun-aug-12-2001-">Version 1.40 (Sun, Aug 12 2001)</h2>
<ul>
<li>Added multipart/alternative support (AltBody)</li>
<li>Documentation update</li>
<li>Fixed bug in Mercury MTA</li>
</ul>
<h2 id="version-1-29-fri-aug-03-2001-">Version 1.29 (Fri, Aug 03 2001)</h2>
<ul>
<li>Added AddStringAttachment() method</li>
<li>Added SMTP authentication support</li>
</ul>
<h2 id="version-1-28-mon-jul-30-2001-">Version 1.28 (Mon, Jul 30 2001)</h2>
<ul>
<li>Fixed a typo in SMTP class</li>
<li>Fixed header issue with Imail (win32) SMTP server</li>
<li>Made fopen() calls for attachments use &quot;rb&quot; to fix win32 error</li>
</ul>
<h2 id="version-1-25-mon-jul-02-2001-">Version 1.25 (Mon, Jul 02 2001)</h2>
<ul>
<li>Added RFC 822 date fix (Patrice)</li>
<li>Added improved error handling by adding a $ErrorInfo variable</li>
<li>Removed MailerDebug variable (obsolete with new error handler)</li>
</ul>
<h2 id="version-1-20-mon-jun-25-2001-">Version 1.20 (Mon, Jun 25 2001)</h2>
<ul>
<li>Added quoted-printable encoding (Patrice)</li>
<li>Set Version as public and removed PrintVersion()</li>
<li>Changed phpdoc to only display public variables and methods</li>
</ul>
<h2 id="version-1-19-thu-jun-21-2001-">Version 1.19 (Thu, Jun 21 2001)</h2>
<ul>
<li>Fixed MS Mail header bug</li>
<li>Added fix for Bcc problem with mail(). <em>Does not work on Win32</em>
(See PHP bug report: <a href="http://www.php.net/bugs.php?id=11616">http://www.php.net/bugs.php?id=11616</a>)</li>
<li>mail() no longer passes a fifth parameter when not needed</li>
</ul>
<h2 id="version-1-15-fri-jun-15-2001-">Version 1.15 (Fri, Jun 15 2001)</h2>
<p>Note: these changes contributed by Patrice Fournier</p>
<ul>
<li>Changed all remaining \n to \r\n</li>
<li>Bcc: header no longer written to message except
when sent directly to sendmail</li>
<li>Added a small message to non-MIME compliant mail reader</li>
<li>Added Sender variable to change the Sender email
used in -f for sendmail/mail and in &#39;MAIL FROM&#39; for smtp mode</li>
<li>Changed boundary setting to a place it will be set only once</li>
<li>Removed transfer encoding for whole message when using multipart</li>
<li>Message body now uses Encoding in multipart messages</li>
<li>Can set encoding and type to attachments 7bit, 8bit
and binary attachment are sent as is, base64 are encoded</li>
<li>Can set Encoding to base64 to send 8 bits body
through 7 bits servers</li>
</ul>
<h2 id="version-1-10-tue-jun-12-2001-">Version 1.10 (Tue, Jun 12 2001)</h2>
<ul>
<li>Fixed win32 mail header bug (printed out headers in message body)</li>
</ul>
<h2 id="version-1-09-fri-jun-08-2001-">Version 1.09 (Fri, Jun 08 2001)</h2>
<ul>
<li>Changed date header to work with Netscape mail programs</li>
<li>Altered phpdoc documentation</li>
</ul>
<h2 id="version-1-08-tue-jun-05-2001-">Version 1.08 (Tue, Jun 05 2001)</h2>
<ul>
<li>Added enhanced error-checking</li>
<li>Added phpdoc documentation to source</li>
</ul>
<h2 id="version-1-06-fri-jun-01-2001-">Version 1.06 (Fri, Jun 01 2001)</h2>
<ul>
<li>Added optional name for file attachments</li>
</ul>
<h2 id="version-1-05-tue-may-29-2001-">Version 1.05 (Tue, May 29 2001)</h2>
<ul>
<li>Code cleanup</li>
<li>Eliminated sendmail header warning message</li>
<li>Fixed possible SMTP error</li>
</ul>
<h2 id="version-1-03-thu-may-24-2001-">Version 1.03 (Thu, May 24 2001)</h2>
<ul>
<li>Fixed problem where qmail sends out duplicate messages</li>
</ul>
<h2 id="version-1-02-wed-may-23-2001-">Version 1.02 (Wed, May 23 2001)</h2>
<ul>
<li>Added multiple recipient and attachment Clear* methods</li>
<li>Added Sendmail public variable</li>
<li>Fixed problem with loading SMTP library multiple times</li>
</ul>
<h2 id="version-0-98-tue-may-22-2001-">Version 0.98 (Tue, May 22 2001)</h2>
<ul>
<li>Fixed problem with redundant mail hosts sending out multiple messages</li>
<li>Added additional error handler code</li>
<li>Added AddCustomHeader() function</li>
<li>Added support for Microsoft mail client headers (affects priority)</li>
<li>Fixed small bug with Mailer variable</li>
<li>Added PrintVersion() function</li>
</ul>
<h2 id="version-0-92-tue-may-15-2001-">Version 0.92 (Tue, May 15 2001)</h2>
<ul>
<li>Changed file names to class.phpmailer.php and class.smtp.php to match
current PHP class trend.</li>
<li>Fixed problem where body not being printed when a message is attached</li>
<li>Several small bug fixes</li>
</ul>
<h2 id="version-0-90-tue-april-17-2001-">Version 0.90 (Tue, April 17 2001)</h2>
<ul>
<li>Initial public release</li>
</ul>
