@font-face {
  font-family: 'arnold';
    src:  url('../fonts/Arnold-21.ttf.woff') format('woff'),
    url('../fonts/Arnold-21.ttf.svg#Arnold-21') format('svg'),
    url('../fonts/Arnold-21.ttf.eot'),
    url('../fonts/Arnold-21.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}